.bgNavbar {
    position: sticky;
    z-index: 1000;
    background-color: var(--color-coorp);
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
    padding-top: 20px;
    color: var(--color-ligth);
    margin-bottom: 20px;
}

div:has(.logoNavbar){
    height: 60px;
    width: auto;
}

.logoNavbar{
    height: 50px;
    margin-bottom: 20px;
}