.techList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-coorp-ligth);
    padding-bottom: 5px;
}

.techListTitle{
    text-transform: capitalize;
}

.techList li{
    list-style: none;
    margin: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: var(--color-ligth);
    font-size: 4cqw;
}

.techImg{
    max-width: 20cqw;
    max-height: 8cqw;
    object-fit:contain;
}

.subtype{
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--color-coorp-ligth);
}

.subtype::after{
    content: ": ";
}