.projectSection{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin: auto 10px;
}

.projectCard{
    width: 100%;
    background-color: var(--color-coorp-ligth);
    margin: 10px 0;
    font-size: 1;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.screenshot{
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
}

.projectCard p{
    margin: 10px;
    font-size: 4cqw;
    text-align: justify;
}

.stackTech {
    background-color: var(--color-text);
    padding-top: 5px;
}

.stackTech h4{
    color: var(--color-coorp-ligth);
    font-size: 3.5cqw;
    text-align: center;
}

@media (min-width: 768px) {
    .projectSection {
        flex-direction: row;
    }
}